.head h2{
    padding-top: 10vh;
    text-align: center;
    font-size: 1.8rem;
}
.services {
    padding-top: 3vh;
    padding-bottom: 15vh;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0; 
    transform: translateY(30px);
    animation: slideUp 1s ease-out forwards; 
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

.services h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    opacity: 0; 
    transform: translateY(30px); 
    animation: slideUp 1s 0.5s ease-out forwards;
}

@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 90%;
        opacity: 0;
        transform: translateY(30px); 
        animation: slideUp 1s 1s ease-out forwards;
    }
}
