body {
  margin: 0;
}

.contact-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.contact-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-right: 6%;
  margin-left: 6%;
  opacity: 0;
  animation: slideDown 1s 0.5s forwards;
}

.contact-box {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 15px aliceblue;
  width: 100%;
  max-width: 450px;
  margin-bottom: 30px;
  opacity: 0;
  transform: scale(0.9);
  animation: zoomIn 1s 1s forwards;
}

.contact-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: aliceblue;
  box-shadow: 0 0 8px rgba(118, 153, 183, 0.5);
  transform: scale(1.05);
}

.contact-button {
  width: 100%;
  background: aliceblue;
  color: rgb(0, 0, 0);
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contact-button:active {
  background: aliceblue;
  transform: scale(1);
}

.contact-form textarea {
  height: 150px;
  resize: vertical;
}


.social-media {
  text-align: center;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
  opacity: 0;
  animation: rotateBounce 1s 1.5s forwards;
}

.social-icon {
  font-size: 24px;
  color: #3b5998;
  transition: color 0.3s, transform 0.3s ease-in-out;
}

.social-icon:hover {
  color: #1d3a8a;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .contact-box {
    max-width: 80%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: scale(1) translateX(0);
  }
  25% {
    transform: scale(1.1) translateX(-5px);
  }
  50% {
    transform: scale(1.1) translateX(5px);
  }
  75% {
    transform: scale(1.1) translateX(-5px);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes rotateBounce {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateY(20px);
  }
  60% {
    transform: rotate(-10deg) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: rotate(0) translateY(0);
  }
}
